@model IEnumerable<PizzaStoreWeb.Models.OrderUI>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostBeforeTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostBeforeTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { item.OrderID })
            </td>
        </tr>
}
    </tbody>
</table>
