@model MVPizza.DataAccess.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePlaced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePlaced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSupremes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSupremes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfMeatLovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfMeatLovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfVeggie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfVeggie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSolidGold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSolidGold)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
