@using MVPizza.DataAccess
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {
        $('#OrderDisplay').DataTable();
    });
        /* https://datatables.net/examples/advanced_init/html5-data-attributes.html  What I'm on about */
</script>


<h1>Index</h1>
<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search for orders from:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <p>
            <select id="type" name="type">
                <option value="s">Stores</option>
                <option value="a">Address</option>
                <option value="u">Username</option>
            </select>
            <select id="order" name="order">
                <option value="d">Most Recent</option>
                <option value="i">Oldest</option>
                <option value="e">Most Expensive</option>
                <option value="c">Least Expensive</option>
            </select>
        </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="OrderDisplay" class="table, display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSupremes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfMeatLovers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfVeggie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSolidGold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSupremes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfMeatLovers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfVeggie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSolidGold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
